.header-container {
    margin: 1rem 6rem 1rem
};

.up-header-container {
    height: 2rem;
    background-color: rgb(2, 130, 249);
};

section.logo img {
    height: 4rem;
};

ul {
    list-style-type: none;
};

li {
    padding: 0.8rem;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: bolder;
};